* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #373c56;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    width: 2vw;
    height: auto;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.menu_bg, #menu_bar, .nav {
    top: 0;
    left: 0;
    position: absolute;
}

#menu_bar {
    z-index: 2;
}
 
.bar {
    width: 100%;
    height: 5px;
    background-color: #b81568;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav li a{
    color:#fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.nav li a:hover {
    font-size: 1.8em;
    text-shadow:  0px 3px 7px #000000;
}

.nav li{
    list-style: none;
    padding: 14px 0;
}

.nav {
    padding: 0;
    margin: 80px 30px;
    transition: 0.3s ease;
    display: none;
    z-index: 2;
}

.menu_bg {
    z-index: 1;
    width: 0;
    height: 0;
    background: radial-gradient(circle, #e94498,#b81568);
    transition: 0.3s ease;
    border-radius: 50%;

}
 
.change_bg {
    width: 550px;
    height: 540px;
    transform: translate(-50%, -5%);
}

.change {
    display: block;
}

.change_login_close, .change_sign_close {
    display: none;
}

.change .bar {
    background-color: white;
 }

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2{
    opacity: 0;
}

.btn_home {
    top:20px;
    right: 0px;
    position: absolute;
    list-style: none;
    display: flex;
    z-index: 10000;
}

.btn_box1, .btn_box2 {
    display: flex;
    margin: 5px 15px;
    font-size: 20px;
    font-family: 'Black Ops One', cursive;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}


.btn_box1 a, .btn_box2 a {
    color: antiquewhite;
    text-decoration: none;
}

.btn_box1 a:hover, .btn_box2 a:hover {
    color: #e94498;
    font-size: 25px;
    text-shadow:  0px 5px 5px #000000;
}

.btn_content {
    top:100px;
    right: 20px;    
    position: absolute;
}

.btn_content button {
    margin: 40px
}

.btn_content_box1, .btn_content_box2 {
    width: 18vw;
    height: auto;
    display: none;
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
    border-radius: 25px;
    background-color: whitesmoke;
    animation-name: Login;
    animation-duration: 1.5s;
    transition: ease;
}

@keyframes Login {
    from { 
        transform: translate(300px);
    }
    to {
        transform: translate(0px);
    }
}

.btn_content_box1 a, .btn_content_box2 a {
    display: block;
    text-decoration: none;
    font-size: 1vw;
    margin-top: 2vh;
    color:black;
}

.btn_content_box1 a:hover, .btn_content_box2 a:hover {
    font-size: 1.2em;
    color: red;
    cursor: pointer;
}

.btn_box1_open, .btn_box2_open {
    display: block;
}

.btn_closebox1, .btn_closebox2{
    position: absolute;
    top:1vw;
    right: 1.5vw;
    width: 2vw;
    height: auto;
    background-color: #373c56;
    color: white;
    font-size: 1em;
    border-radius: 25px;
    background-color:#2c3e50;
}

.btn_closebox1:hover, .btn_closebox2:hover {
    cursor: pointer;
    background-color:#e94498;
}



input {
    width: 15vw;
    height: 3vh;
    margin: 10px;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    font-size: 1vw;
}

h3 {
    text-align: left;
    margin-left: 20px;
    font-size: 1vw;
}

.btn_content_box1 p, .btn_content_box2 p {
    color:#636363;
    text-align: justify;
    width: 15vw;
    padding-left: 20px;
    font-size: 1vw;


}

.btn_content_box1 button, .btn_content_box2 button {
    width: 7vw;
    height: 4vh;
    color: white;
    font-size: 1.2em;
    margin-top: 50px;
    border-radius: 25px;
    background-color:#2c3e50;
}

.btn_content_box1 button:hover, .btn_content_box2 button:hover {
    cursor: pointer;
    background-color:#e94498;
}

.title_home{
    text-align: center;
    align-items: center;
    font-family: 'Black Ops One', cursive;
    margin-top: 50px;
    color: whitesmoke;
    text-shadow:  0px 10px 10px #000000;
    font-size: 2vw;
}

#middle {
    top:50% ;
    left: 50% ;
    position: absolute ;
    transform: translate(-50%, -50%);
}

.box_card {
    cursor:pointer ; 
    width: 35vw;
    height: 50vh;  
}

.card_front, .card_back {
    width: 35vw;
    height: 50vh;
    overflow: hidden;
    position: absolute;
    border-radius: 5%;
    backface-visibility: hidden;
    transition: .6s linear ;
    box-shadow: 0px 0px 5px 2px #000;
}

.card_front .banner_img{
    width: 100%;
    height: 100%;
}

.card_front {
    transform: perspective(660px) rotateY(0deg)
}

.card_back {
    background-color: antiquewhite;
    transform: perspective(660px) rotateY(180deg)
}

.box_card:hover > .card_front{
    transform: perspective(660px) rotateY(-180deg)
}

.box_card:hover > .card_back{
    transform: perspective(660px) rotateY(0deg)
}

.card_back_content {
    font-family: "montserrat";
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

h2{
    font-size: 2.5em;
}

.card_links {
    margin: 60px 0;
}

.card_links a{
    width: 60px ;
    height: 60px;
    color: #2c3e50;
    font-size: 1.5em;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 50%;
}

.card_links a:hover{
    background-color: #2c3e50;
    color: whitesmoke;
}

.banner2_img {
    top:30%;
    left:-8%;
    width: 120vw;
    height: auto;
    display:none;
    position: absolute;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    transform: rotate(35deg);
    animation-name: banner;
    animation-duration: 8s;
    transition: ease;
}

.footer {
    bottom: 0;
    width: 100vw;
    height: 4vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color:#2c3e50; 
}

@media all and (max-width: 1024px){
    .card_front, .card_back {
        display: none;

    }

    .title_home{
        text-align: center;
        align-items: center;
        font-family: 'Black Ops One', cursive;
        margin-top: 50px;
        color: whitesmoke;
        text-shadow:  0px 10px 10px #000000;
        font-size: 2vw;
        animation-name: title;
        animation-duration: 3.5s;
        transition: ease;
    }

    @keyframes title {
        from { 
            transform: translateY(0px) rotate(360deg);
            font-size: 2vw;
        }
        to {
            transform: translatey(620px);
            font-size: 6vw;
        }
    }

    .title_home{
        transform: translatey(620px);
        font-size: 6vw;
    }

    .btn_content_box1, .btn_content_box2 {
        width: 70vw;
        animation-name: Login;
        animation-duration: 1.5s;
        transition: ease;
    }
    
    @keyframes Login {
        from { 
            transform: translate(300px);
        }
        to {
            transform: translate(-35px);
        };

    }

    .btn_content_box1, .btn_content_box2 {
        transform: translate(-35px);
    }

    @keyframes banner {
        from { 
            /* width: 0; */
            transform: translateX(-500px) rotate(35deg);
        }
        to {
            /* width: 120vw; */
            transform: translateX(0px) rotate(35deg);
        };

    }

    .banner2_img {
        display:block;
    }


    input {
        width: 60vw;
        font-size: 4vw;
    }
    
    h3 {
        font-size: 4vw;
    }
    
    .btn_content_box1 p, .btn_content_box2 p {
        width: 60vw;
        font-size: 4vw;   
    }
    
    .btn_content_box1 button, .btn_content_box2 button {
        width: 30vw;
        height: 4vh;
    }

    .btn_closebox1, .btn_closebox2{
        top:4vw;
        right: 6vw;
        width: 8vw;
    }
    

}



